@import '../../index.scss';
.dot {
  height: 51px;
  width: 51px;
  background: #262e38;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #7c8798;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background: #7c8798;
  }
  &:focus {
    background-color: #fc7614;
    color: #ffffff;
  }
  &:active {
    transform: scale(0.98);
  }
  @include mq(500px) {
    height: 42px;
    width: 42px;
  }
}
