.logo {
  margin-bottom: 88px;
}

.calculator {
  width: 100%;
  max-width: 920px;
  background: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
  padding-left: 48px;
  padding-right: 32px;
  padding-block: 32px;

  display: flex;
  gap: 48px;

  .info {
    width: 100%;
    max-width: 379px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .mesage {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #e17457;
      }
    }

    .name {
      font-size: 16px;
      line-height: 24px;
      color: #5e7a7d;
      margin-bottom: 6px;
    }
    .select_tip {
      font-size: 16px;
      line-height: 24px;
      color: #5e7a7d;
      margin-bottom: 16px;
    }

    .input {
      position: relative;
      .dollar {
        position: absolute;
        top: 0;
        left: 17px;
        bottom: 0;
        margin: auto 0;
      }
      margin-bottom: 40px;
    }

    input {
      width: 100%;
      text-align: end;
      background: #f3f9fa;
      border-radius: 5px;
      border: 2px solid transparent;
      padding-block: 6px;
      padding-right: 17px;
      font-family: 'Space Mono';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      text-align: right;
      color: #00474b;
      mix-blend-mode: normal;
      cursor: pointer;
      &:focus {
        border: 2px solid #26c2ae;
        outline: none;
      }
      &::placeholder {
        color: #00474b;
        opacity: 0.35;
      }
    }
    .tips {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      row-gap: 16px;
      margin-bottom: 40px;
      .custom {
        width: 117px;
        height: 48px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;

        padding-inline: 12px;
        text-align: end;

        &::placeholder {
          color: #547878;
          opacity: 1;
        }
      }
      .tip {
        width: 117px;
        height: 48px;
        background: #00474b;
        border-radius: 5px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        &:active {
          transform: scale(0.98);
        }
        &:hover {
          background: #9fe8df;
          color: #00474b;
        }
      }
    }
  }

  .result {
    padding: 40px;
    background: #00474b;
    border-radius: 15px;
    width: 100%;
    max-width: 413px;
    button {
      background: #26c2ae;
      border-radius: 5px;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #00474b;
      padding-block: 9px;
      width: 100%;
      margin-top: 97px;
      cursor: pointer;
      &:hover {
        background: #9fe8df;
      }
      &:active {
        transform: scale(0.98);
      }
    }
    .line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .header {
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      span {
        font-size: 13px;
        line-height: 19px;
        color: #7f9d9f;
        display: block;
      }
    }
    .cash {
      font-size: 48px;
      line-height: 71px;
      text-align: right;
      letter-spacing: -1px;
      color: #26c2ae;
    }
  }
}
