.logo {
  margin-bottom: 88px;
}

.calculator {
  width: 100%;
  max-width: 920px;
  background: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
  padding-left: 48px;
  padding-right: 32px;
  padding-block: 32px;

  display: flex;
  gap: 48px;

  .info {
    width: 100%;
    max-width: 379px;
  }

  .result {
    padding: 40px;
    background: #00474b;
    border-radius: 15px;
    width: 100%;
    max-width: 413px;
    button {
      background: #26c2ae;
      border-radius: 5px;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #00474b;
      padding-block: 9px;
      width: 100%;
    }
  }
}
